<h1><%= @event.title %></h1>

<div class="event-details">
  Location: <%= @event.location %><br>
  Date: <%= @event.event_date %><br>
  Attendees:<br>
  <% @attendees.each do |a| %>
    <%= link_to a.email, user_path(a) %>
  <% end %>
</div><br>

<% if current_user == @event.creator %>
  <%= button_to 'Edit Event', edit_event_path(@event), method: :get%>
  <%= button_to 'Delete Event', event_path(@event), method: :delete%>
<% end %>

<% if @attendees.include?(current_user) %>
  <%= button_to 'Cancel participation'%>
<% else %>
  <%= button_to 'Participate', attendings_path(@event)%>
<% end %>
